body {
  text-align: center;
  font-family: serif;
  max-width: 900px;
  display: block;
  margin: 0 auto;
}

.header,
.weregettingmarried,
.date,
.savethedate,
.footer {
  display: block;
  max-width: 100%;
  width: 800px;
  margin: 0 auto;
}

.footer {
  margin-bottom: 3em;
}

.nav {
  border-bottom: 2px solid #ccc;
  margin-bottom: 3em;
}

.nav span {
  box-sizing: border-box;
  padding: 1em;
  font-size: 1.2em;
  display: inline-block;
}

.nav span a {
  color: #3C7530;
  text-decoration: none;
}

.nav .expander {
  display: none;
}

@media (max-width: 850px) {
  .nav span {
    font-size: 1.1em;
    width: 33%;
  }
}

@media (max-width: 400px) {
  .nav {
    position: relative;
  }
  .nav span {
    font-size: 1em;
    width: 100%;
    display: none;
  }

  .nav.expanded span,
  .nav span.current {
    display: block;
  }

  .nav .expander {
    display: block;
    text-align: right;
    padding: 1em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    cursor: pointer;
  }
  .nav.expanded .expander {
    bottom: auto;
  }
}