@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  text-align: center;
  max-width: 900px;
  display: block;
  margin: 0 auto;
  background: url("../images/dotsblue.png");
  background-size: 30em 30em; 
}

.header,
.weregettingmarried,
.date,
.savethedate,
.footer {
  display: block;
  max-width: 100%;
  width: 800px;
  margin: 0 auto;
}

.header {
  max-height: 40vh;
  min-height: 200px;
  width: auto;
}

.footer {
  margin-bottom: 3em;
  max-height: 30vh;
  min-height: 200px;
  width: auto;
}

.nav {
  background-color: white;
  border-bottom: 2px solid #464040;
  margin-bottom: 3em;
}

.nav span {
  box-sizing: border-box;
  padding: 1em;
  font-size: 1.2em;
  display: inline-block;
}

.nav span a {
  color: #464040;
  text-decoration: none;
}

.nav .current a {
  color: #9DDA72;
}

.nav .expander {
  display: none;
}

#content {
  padding: 2em;
  background-color: white;
}

h1 {
  color: #464040;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 2em;
}

h1:before,
h1:after {
  content: '.';
  text-indent: -9999em;
  overflow: hidden;
  width: 1.3em;
  height: 1.3em;
  position: absolute;
}

h1:before {
  left: 0;
  background: url("../images/leftleaves.png") center center no-repeat transparent;
  background-size: contain;
}
h1:after {
  right: 0;
  background: url("../images/rightleaves.png") center center no-repeat transparent;
  background-size: contain;
}

@media (max-width: 850px) {
  .nav span {
    font-size: 1.1em;
    width: 30%;
    vertical-align: middle;
  }
}

@media (max-width: 450px) {
  .nav {
    position: relative;
  }
  .nav span {
    font-size: 1em;
    width: 100%;
    display: none;
  }

  .nav.expanded span,
  .nav span.current {
    display: block;
  }

  .nav .expander {
    display: block;
    text-align: right;
    font-size: 1.5em;
    line-height: 1;
    color: #639A32;
    padding: .5em 1em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    cursor: pointer;
  }
  .nav.expanded .expander {
    bottom: auto;
    left: auto;
  }

  .header {
    max-height: 40vh;
    min-height: 100px;
    width: auto;
  }

  .footer {
    margin-bottom: 3em;
    max-height: 30vh;
    min-height: 100px;
    width: auto;
  }
}

