@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  text-align: center;
  max-width: 900px;
  display: block;
  margin: 0 auto;
  background: url("../images/dotsblue.png");
  background-size: 30em 30em; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', cursive;
}

h2, h3, h4, h5, h6 {
  font-family: 'Kurale', serif;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4, h5, h6 {
  font-size: 1.35em;
}

a {
  color: #464040;
  font-weight: bold;
}


li {
  word-break: break-word;
}

.hide {
  display: none;
}

.header,
.weregettingmarried,
.date,
.savethedate,
.footer {
  display: block;
  max-width: 100%;
  width: 800px;
  margin: 0 auto;
}

.header {
  max-height:30vh;
  min-height: 200px;
  width: auto;
}

.nav span a.todo {
  color: #e8e7e1;
}

.footer {
  margin-bottom: 3em;
  max-height: 15vh;
  min-height: 150px;
  width: auto;
}

.nav {
  background-color: white;
  border-bottom: 2px solid #464040;
  margin-bottom: 0em;
}

.nav span {
  box-sizing: border-box;
  padding: 0.5em 0.5em;
  font-size: 1.75em;
  display: inline-block;
  font-family: 'Amatic SC', cursive;
}

.nav span a {
  color: #464040;
  text-decoration: none;
}

.nav .current a {
  color: #9DDA72;
}

.nav .expander {
  display: none;
}

#content {
  padding: 2em;
  background-color: rgba(255,255,255,0.8);
}

.container {
  text-align: left;
}

.home { text-align: center; }

.col {
  float: left;
  width: 50%;
  box-sizing: border-box;
}

.col:nth-child(1) {
  padding-right: 2em;
  border-right :1px solid #464040;
}
.col:nth-child(2) {
  padding-left: 2em;
}

.sub {
  font-size: 0.8em;
  font-style: italic;
}

.sub:before {
  content: "("
}

.sub:after {
  content: ")"
}

h1 {
  color: #464040;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 2em;
  text-align: center;
}

h1:before,
h1:after {
  content: '.';
  text-indent: -9999em;
  overflow: hidden;
  width: 1.3em;
  height: 1.3em;
  position: absolute;
}

h1:before {
  left: 0;
  background: url("../images/leftleaves.png") center center no-repeat transparent;
  background-size: contain;
}

h1:after {
  right: 0;
  background: url("../images/rightleaves.png") center center no-repeat transparent;
  background-size: contain;
}


form {
  line-height: 1em;
  display: block;
  margin: 0 auto;
  padding: 2em 0;
}

form input {
  border: 0 none;
  border-bottom: 1px solid black;
  display: inline-block;
  font-size: 1.2em;
}

form input[type="submit"] {
  background-color: green;
  color: white;
  display: block;
  cursor: pointer;
  border: 0 none;
  border-radius: 3px;
  padding: 0.25em 2em;
  margin-top: 2em;
}

form label {
  display:block;
  clear: both;
  margin-bottom: 1em;
}

form label #name {
  display: block;
  width: 100%;
}

form label.num input { width: 2em; }
form .num {
  margin-bottom: 0;
}

form label input[type="radio"] {
  float: left;
  height: 1.5em;
}

form .center {
  line-height: 1.5em;
  margin-bottom: 2em;
}

form .center label {
  margin-right :1em;
}

form .col {
  margin-bottom :2em;

}
form .inline {
  display: inline-block;
  margin: 0;
}

form .inline input {
  height: auto;
  float: none;
  margin: 0 0.5em 0 0;
}

textarea {
  display: none;
  width: 100%;
  padding: 0.6em;
  border: 1px solid black;
  height: 3em;
  font-size: 1em;
  margin-top: 1em;
  box-sizing: border-box;
}


form label span {
  display: block;
  height: 1.5em;
  line-height: 1.2em;
}

form label .main {
  text-transform: uppercase;
  font-weight: bold;
}


.notAttending textarea { display: none; }

.attendingSelection {
  margin-top: 1em;
}

@media (max-width: 840px) {
  .nav span {
    width: 30%;
    vertical-align: middle;
  }

  .col {
    float: none;
    width: 100%;
    padding: 0 !important;
    border: 0 none !important;
  }

  input[type="submit"] {
    margin: 0 auto;
  }
}

@media (max-width: 450px) {
  .nav {
    position: relative;
  }
  .nav span {
    font-size: 1.75em;
    width: 100%;
    display: none;
  }

  .nav.expanded span,
  .nav span.current {
    display: block;
  }

  .nav .expander {
    display: block;
    text-align: right;
    font-size: 1.5em;
    line-height: 1;
    color: #639A32;
    padding: .5em 1em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    cursor: pointer;
  }
  .nav.expanded .expander {
    bottom: auto;
    left: auto;
  }

  .header {
    max-height: 40vh;
    min-height: 100px;
    width: auto;
  }

  .footer {
    margin-bottom: 3em;
    max-height: 30vh;
    min-height: 100px;
    width: auto;
  }


}

.intro {
  font-family: 'Kurale', serif;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.2em;
  font-style: italic;
  color: #2f6623;
}


.signed {
  font-family: serif;
  font-style: italic;
}


.thebigday .venue {
  overflow: auto;
}
.thebigday .venue .map {
  width: 60%;
  float: right;
  margin-top: -5em;
}

.thingstodo .thing {
  float: left;
  width: 50%;
  padding: 0.5em;
  box-sizing: border-box;
  text-align: center;
}

.thingstodo .when {
  margin-top: -.25em;
  margin-bottom: 0.25em;
}

.thingstodo .when span {
  display: inline;
  font-family: sans-serif;
  font-size: 0.8rem;
  color: white;
  background-color: #464040;
  padding: 0.25em 0.5em;

}

.thingstodo .container h2 {
  margin-bottom: 0;
}


@media (max-width: 650px) {

  .thingstodo .thing {
    width: 100%;
    padding: 0;
    text-align: left;
  }

  .intro {
    font-family: 'Kurale', serif;
    font-weight: normal;
    font-size: 1.25em;
    line-height: 1.1em;
    font-style: italic;
    color: #2f6623;
}

  .thebigday .venue .map {
    width: auto;
    max-width: 100%;
    margin-top: 0;
    float: none;
  }
}

